In [1]:
#Reggie Methods
import pandas as pd

data = {'Product Type:' ['Chips', 'Cooldrinks', 'Chocolate', 'Pies', 'Fruit','Cupcakes'],
        'Chips': ['Simba', 'Lays', 'Nik Naks'],
        'Cooldrinks': ['Pepsi', '7Up','Mountain Dew'],
        'Chocolate' : ['Cadbury', 'Tex', 'Beacon '],
        'Pies' : ['Chicken', 'Pepper Steak', 'Spinach & Feta'],
        'Fruit' : ['Grapes', 'Mangoes', 'Oranges'],
        'Cupcakes' : ['Chocolate', 'Cuppaccino', 'Vanilla'],
        'Stock' : [40, 25, 30],
        'Sold' : [15, 6, 20],
        }

df = pd.DataFrame (data, columns = ['Product Type','Cooldrinks','Chocolate','Pies','Fruit', 'Cupcakes', 'Stock', 'Sold'])
df

SyntaxError: invalid syntax (<ipython-input-1-f6ff4ccf321b>, line 5)

In [6]:
import pandas as pd
data = pd.read_csv("Sprint_1.csv", sep=";")
data

         Product Type:       Product Price  Quantity  Sold
0                Chips         Lay's   7,5      50.0  15.0
1                  NaN         Simba   7,5      50.0  21.0
2                  NaN       Bubbles     9      30.0  12.0
3                  NaN      Nik Naks   1,5      50.0  40.0
4                  NaN    Bigga Naks     1      50.0  45.0
5   Cooldrinks (500ml)          Coke    11      60.0  30.0
6                  NaN         Fanta    11      60.0  24.0
7                  NaN        Sprite    11      60.0  40.0
8                  NaN         Pepsi     9      36.0  30.0
9                  NaN           7Up     9      36.0  25.0
10                 NaN  Mountain Dew     9      36.0  19.0
11    Chocolate(Slabs)      Cadbury    NaN       NaN   NaN
12                 NaN        Beacon   NaN       NaN   NaN
13                 NaN     Milky Bar   NaN       NaN   NaN
14                 NaN          Aero   NaN       NaN   NaN